body{
    text-align: center;
    margin: 0;
   color: #40514e;
}

.top_container{
    background-color: lightskyblue;
   
}

h1{
    display: block;
    margin: 20px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size:3rem;
    color: #66BFBF;
}
p{
    display: block;
    font-family: 'Roboto Slab', serif;
    line-height: 2;
    margin-bottom: 0;
   
}
.title{
    font-size: 1.5rem;
    color: #66BFBF;
    font-weight: normal;


}
hr{
    border-style: none;
    border-top-style: dotted;
    border-top-width: 6px;
    border-color: lightslategrey;
    width: 4%;
    margin: 100px auto;

}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
    
  
}
.top_container{
    position: relative;
    padding: 50px 50px 0 50px;
    

}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color:#66BFBF;
    padding: 40px 0 20px;
}

   

.top_cloud{
    height: 75px;
    margin-left: 300px;
    padding: 0;
    
   
}

.mountainer{
    height: 250px;
    
   
    
}

.intro{
    width: 50%;
    margin: auto;

}
.circular{
    border-radius: 100%;
   
}
.image{
    height: 100px;
}
.horizontal_rule{
    
   margin-bottom: 0px;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: lightslategrey;
    width: 5%;

}
.web{
    text-decoration: underline;
}
.contact-me{
    width: 60%;
    margin: 30px auto 100px auto;  
    padding: 50px;
     
   
}
.btn {
        background: #3debce;
  background-image: -webkit-linear-gradient(top, #3debce, #3017ed);
  background-image: -moz-linear-gradient(top, #3debce, #3017ed);
  background-image: -ms-linear-gradient(top, #3debce, #3017ed);
  background-image: -o-linear-gradient(top, #3debce, #3017ed);
  background-image: linear-gradient(to bottom, #3debce, #3017ed);
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  font-family: Arial;
  color: #FFFF;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  
}

.btn:hover {
  background: #3a0eeb;
  background-image: -webkit-linear-gradient(top, #3a0eeb, #3498db);
  background-image: -moz-linear-gradient(top, #3a0eeb, #3498db);
  background-image: -ms-linear-gradient(top, #3a0eeb, #3498db);
  background-image: -o-linear-gradient(top, #3a0eeb, #3498db);
  background-image: linear-gradient(to bottom, #3a0eeb, #3498db);
  text-decoration: none;
}

a{
    color:#11999E;
    margin: 10px 20px;
    font-family: sans-serif;
    text-decoration: none;
}
a:hover{
    color: ghostwhite;
}
.copywright{
    color: ghostwhite;
    font-size: 0.75rem;
    padding: 20px 5px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.autocadd{
    
    width: 50%;
    float: left;
    margin-right: 30px;
    text-align: left;
 

}
.html{
   
    width: 50%;
    float: right;
    margin-right: 30px;
}
